/*Home Page*/

#aboutMe-front {
	padding: 16px;
	text-align: center;
}

#aboutMe-back {
	margin-top: 40px;

	padding: 20px;
	text-align: center;
}

/*Home Page Buttons*/
.homeBtn {
	text-decoration: none;
	color: #ffffff;

	width: auto;
	height: auto;
	margin-top: 10px;

	padding: 20px;

	border-radius: 30px;
}

.homeBtn:hover {
	background-color: #36383a;

}

.homeBtn:active {
	transform: scale(0.95);
}

/*BANNER*/
#coming-soon-container {
	display: block;
	width: 100%;
}
#coming-soon {
	font-family: 'Anton', sans-serif;
	font-size: 112px;

	color: #2d2d2d;
	background-color: rgba(244, 244, 244, 0.5);

	border-radius: 15px;
	border: 5px solid #bfbfbf;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}





