


/*TOPBAR*/

.topBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0D164C;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
	cursor: pointer;
}

li a {
	display: block;
	color: #2CEEFF;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;

	font-size: 20px;
	letter-spacing: 1px;
}

li:hover:not(.topBaractive) {
	background-color: #080E30;
}

li:focus {
	outline: 1px solid #080E30;
    outline-offset: -4px;
}

li:active{
	transform: scale(0.95);
}

.topBarActive {
	background-color: #4CAF50;
}