html, body {
	margin: 0;
	padding: 0;
	background-color: #161616;
}



/*TOPBAR*/

.topBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #161616;
	position: fixed;
	top: 0;
	width: 100%;
}

.topBar a {
	float: left;
	color: #ffffff;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}

li {
	float: left;
	cursor: pointer;

	border-radius: 15px;

	animation: topbarslide 0.5s;


}

li a {
	display: block;
	color: #2CEEFF;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;

	font-size: 23px;
	letter-spacing: 1px;

	font-family: "Staatliches";

}

li:hover:not(.topBaractive) {
	background-color: #36383a;
}

li:focus {
	outline: 1px solid #36383a;
    outline-offset: -4px;
}

li:active{
	transform: scale(0.95);
}

@keyframes topbarslide {
	from {margin-left: 100px;
		  transform: scale(0.1);}
	to {margin-left: 0px;
		transform: scale(1);}
}


/*DROPDOWN MENU
.dropDown {
	float: left;
	overflow: hidden;

	border-radius: 15px;
}

.dropDown .dropBtn { 
	border: none;
	outline: none;
	padding: 14px 16px;
	margin: 0;

	cursor: default;
}

.topBar a:hover, dropDown:hover .dropBtn {
	background-color: #4f5154;
	cursor: pointer;
}

.dropDown-content {
	display: none;
	position: absolute;

	top: 50px;

	background-color: #080E30;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

	font-family: "Staatliches";
}



#snakeGameDropdown {
	top: 100px;
}

#pongGameDropdown {
	top: 150px;
}

.dropDown-content a {
	float: left;
	color: #2CEEFF;

	font-size: 18px;
}

.dropDown-content a:hover {
	background-color: #080E30;
}

.dropDown:hover .dropDown-content {
	display:block;
	cursor: pointer;
}

*/


/*PARALLAX EFFECT*/
.parallaxBackground {
	/* Set a specific height */
	min-height: 700px; 

  /* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*BORDERS*/
.border {
	border-radius: 25px;
	border: 3px solid #232423;
}

/*Flip Boxes*/

.flip-box {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;
}

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;

	box-shadow: 0px 4px 100px rgba(0,0,0,0.25);
}

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-box-front {
	background-color: #bbb;
	color: black;
}

.flip-box-back {
	transform: rotateY(180deg);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: DodgerBlue;
	align-content: center;
	justify-content: center;
	margin-top: 190px;
}

.flex-container > div {
	background-color: #f1f1f1;
	margin: 5px;
	padding: 15px;
	font-size: 22px;
}