/* Reference
font-family: 'Bubbler One', sans-serif;
font-family: 'Prociono', serif;
font-family: 'Sirin Stencil', cursive;
font-family: 'Unica One', cursive;
*/

@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Prociono|Sirin+Stencil|Unica+One');

html, body {
	background-color: #91D5FF;

	margin: 0;
	padding: 0;

	animation: fadeIn 1.5s;
	font-family: 'Prociono', serif;
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*-----Animation-----*/
@keyframes fadeIn {
	from {opacity: 0.4;}
	to {opacity: 1;}
}
@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0.4;}
}
/*--------------------*/


/*--------Sidebar---------*/

.sidebar {
	position: fixed;

	margin: 0;
	padding: 0;
	overflow-x: hidden;

	margin-top: 30px;
	margin-left: 30px;

	width: 140px;
	z-index: 1;
	border-radius: 10px;

	background-color: #b7b7b7;
	list-style-type: none;

	text-align: center;
}


.sidebar li a {
	display: block;

	padding: 6px 8px 6px 16px;
	width: auto;

	text-decoration: none;

	color: #000000;
	font-size: 30px;
	font-family: 'Unica One', cursive;
	font-weight: 50px;
}

.sidebar li a:hover {
	opacity: 1;
}

.sidebar li a:active {
	font-size: 25px;
}

/*Extra's*/
#side-goal3 {
	background-color: #56C164;
}
#side-goal3:hover {
	background-color: #00af0e;
}


#side-goal7 {
	background-color: #E8C14C;
}
#side-goal7:hover {
	background-color: #E8AB00;
}

#side-link {
	background-color: #FF606A;
}
#side-link:hover {
	background-color: #FF0000;
}

#side-sources {
	background-color: #4C56E8;
}
#side-sources:hover {
	background-color: #0B19E8;
}
/*----------------------*/

/*--------Footer--------*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

   opacity: 0.6;
   background-color: #828080;

   font-family: 'Unica One', cursive;
   color: white;
   text-align: center;
}

.footer:hover {
	opacity: 1;
}
/*----------------------*/
/*INTRO*/
#intro {
	font-family: 'Prociono', serif;
}

/*----------------------*/
/*----------------------*/








