/*Home Page*/

#aboutMe-front {
	padding: 16px;
	text-align: center;
}

#aboutMe-back {
	margin-top: 40px;

	padding: 20px;
	text-align: center;
}

/*Home Page Buttons*/
.homeBtn {
	text-decoration: none;
	color: #ffffff;

	width: auto;
	height: auto;
	margin-top: 50px;

	padding: 20px;

	border-radius: 30px;
}

.homeBtn:hover {
	background-color: #36383a;

}

.homeBtn:active {
	transform: scale(0.95);
}



/*---COMING SOON BANNER----*/

#coming-soon-container {
	display: block;
	width: 100%;
}
