html, body {
	margin: 0;
	padding: 0;

	background-color: #bcbcbc;

	animation: fadein 1s;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

/*TOPBAR*/

.topBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;

}

.topBar a {
	float: left;

	color: #ffffff;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}

/*----BANNER------*/
.banner {
	margin-top: 100px;

	height: 500px;
	width: 100%;
	overflow: hidden;
}

.banner-text {
	font-family: 'Anton', sans-serif;
	font-size: 112px;
	text-align: center;
	letter-spacing: 2px;

	color: #2d2d2d;
	background-color: rgba(244, 244, 244, 0.5);

	border-radius: 15px;
	border: 5px solid #bfbfbf;

	animation: fadeInLeft 1.5s;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-300%, -50%, 0);
		transform: translate3d(-300%, -50%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, -50%, -50%);
		transform: translate3d(0, -50%, -50%);
	}
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*********************/

li {
	float: left;
	cursor: pointer;

	border-radius: 15px;

	animation: topbarslide 0.5s;


}

li a {
	display: block;
	color: #4f4f4f;
	text-align: left;
	padding: 14px 20px;
	text-decoration: none;

	font-size: 23px;
	letter-spacing: 1px;

	font-family: "Staatliches";

}

li:hover a{
	color: #3a3a3a;

	box-shadow: 0 0 5px #888888;

}

#login-button a:hover{
	color: #00a028;

	box-shadow: 0 0 5px #004f13;
}

li:active{
	transform: scale(0.95);
}

@keyframes topbarslide {
	from {margin-left: 100px;
		  transform: scale(0.1);}
	to {margin-left: 0px;
		transform: scale(1);}
}


/*DROPDOWN MENU
.dropDown {
	float: left;
	overflow: hidden;

	border-radius: 15px;
}

.dropDown .dropBtn { 
	border: none;
	outline: none;
	padding: 14px 16px;
	margin: 0;

	cursor: default;
}

.topBar a:hover, dropDown:hover .dropBtn {
	background-color: #4f5154;
	cursor: pointer;
}

.dropDown-content {
	display: none;
	position: absolute;

	top: 50px;

	background-color: #080E30;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

	font-family: "Staatliches";
}



#snakeGameDropdown {
	top: 100px;
}

#pongGameDropdown {
	top: 150px;
}

.dropDown-content a {
	float: left;
	color: #2CEEFF;

	font-size: 18px;
}

.dropDown-content a:hover {
	background-color: #080E30;
}

.dropDown:hover .dropDown-content {
	display:block;
	cursor: pointer;
}

*/


/*PARALLAX EFFECT*/
.parallaxBackground {
	/* Specific Height */
	min-height: 700px; 

  /* Scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*BORDERS*/
.border {
	border-radius: 25px;
	border: 3px solid #232423;
}

/*Flip Boxes*/

.flip-box {
	background-color: transparent;
	width: 300px;
	height: 500px;
	perspective: 1000px;
	border-radius: 15px;
}


.flip-box-inner {
	position: relative;
	width: 300px;
	height: 500px;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;

	box-shadow: 0px 4px 100px rgba(0,0,0,0.25);
}

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;

	border-radius: 15px;

	text-align: center;
	text-decoration: none;

	font-size: 23px;
	letter-spacing: 1px;

	font-family: "Staatliches";
}


.flip-box-front {
	background-color: #969696;
	color: #383838;
}

.flip-box-back {
	background-color: #969696;
	transform: rotateY(180deg);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	margin-top: 400px;

	margin-left: 25%;
	margin-right: 25%;

	height: 650px;

}

.flex-container > div {
	background-color: #777777;
	
	margin: 5px;
	padding: 14px;
}


/*-------FOOTER-----------*/
.footer {
	bottom: 0;
	left: 0;
	width: 100%;

	background-color: #a5a4a4;
	box-shadow: box-shadow: 0px 4px 100px rgba(0,0,0,0.25);

	font-size: 20px;
	letter-spacing: 1px;
	font-family: "Staatliches";
	text-align: center;

	opacity: 0.8;

	margin-top: 160px;
}

.footer:hover {
	opacity: 1;
}
