.pongContainer {
	margin-top: 45px;
	margin-left: 10%;
	margin-right: 10%;

	align-items: center;
	justify-content: center;
}

#score {
	padding: 0;
	margin: auto;
	display: block;
	text-align: center;

	font-family: "Staatliches";
	font-size: 72px;
}

#gameCanvas {
	padding: 0;
	margin: auto;
	display: block;
}