.game-container {
	text-align: center;
	justify-content: center;

	background-color: #828282;

	opacity: 0.8;
}

.game-container:hover {
	opacity: 1;
}

/*Game Submit Buttons*/
.gameSubmit {
	color: #c4c4c4;
	text-decoration: none;

	height: auto;
	width: 100%;

	padding: 18px 20px;
	margin-top: 20px;

	font-family: "Staatliches";
	font-size: 30px;
}

.gameSubmit:hover {
	color: #ffffff;
}

.gameSubmit:active {
	font-size: 29px;
}

/**********************/